<h2>Créditos de la aplicación</h2>
<p><strong>Autor:</strong> Miguel Ángel Santamaría Rogado</p>
<p><img src="/images/bio-photo.png" alt="Imágen del autor" /></p>
<video controls>
  <source src=/assets/small.webm type=video/webm>
  <source src=/assets/small.ogv type=video/ogg>
  <source src=/assets/small.mp4 type=video/mp4>
</video>
<p>Crédito del vídeo: <a href="http://techslides.com/sample-webm-ogg-and-mp4-video-files-for-html5">techslides.com</a></p>
